:root {
    --color-pink-light: #c59dd2;
    --color-pink-base: #9547a5;
    --color-pink-dark: #7d298a;
    --color-pink-low: #3f0f41;

    --color-blue-light: #73b6d2;
    --color-blue-base: #358bb9;
    --color-blue-mid: #2374a4;
    --color-blue-dark: #144a72;
    --color-blue-low: #08233c;

    --color-shape-stroke: #002347;
    --color-shape-hover: #001933;
    --color-shape-base: #000f1f;
    --color-shape-background: #00050a;

    --color-text-title: #f8fbfb;
    --color-text-body: #e2e7e9;
    --color-text-label: #bac6c9;

    --font-family: 'Raleway', sans-serif;

    --font-title-lg: 700 3rem/normal var(--font-family);
    --font-title-md: 700 2.5rem/normal var(--font-family);
    --font-title-sm: 700 2rem/normal var(--font-family);
    --font-title-xs: 700 1rem/normal var(--font-family);

    --font-subtitle: 500 2rem/2.0 var(--font-family);

    --font-body-lg: 400 1.25rem/1.4 var(--font-family);
    --font-body-md: 400 1rem/1.4 var(--font-family);
    --font-body-sm: 400 0.875rem/1.4 var(--font-family);
    --font-body-xs: 400 0.75rem/1.4 var(--font-family);

    --font-button: 700 0.875rem/normal var(--font-family);
    --font-link: 500 0.875rem/normal var(--font-family);
    --font-tag: 700 0.625rem/normal var(--font-family);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--color-shape-background);
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--font-family);
    overflow-x: hidden;
    display: flex;
}

.container {
    max-width: 23.5rem;
    width: min(100%, 23.5rem);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.hero-background {
    height: 29rem;
    padding-inline: 1.25rem;
    padding-block: 1.25rem 0;
    background-image: url("./assets/hero-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-background nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-background nav button {
    width: 5.5rem;
    height: 2.5rem;
    background-color: var(--color-pink-dark);
    color: var(--color-text-title);
    font: var(--font-button);
    border-radius: 0.5rem;
    cursor: pointer;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.hero-content .hero-title {
    color: var(--color-text-title);
    font: 700 1.75rem/normal var(--font-family);
    text-align: center;
}

.hero-content .hero-description {
    color: var(--color-text-body);
    font: var(--font-body-sm);
    text-align: center;
}

.hero-info {
    margin-top: 2rem;
    height: 15.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
    content: "";
    width: 15rem;
    height: 15rem;
    background-color: var(--color-pink-low);
    border-radius: 50%;
    filter: blur(180px);
    position: absolute;
    pointer-events: none;
    left: -2rem;
    top: 50%;
    translate: 0 -50%;
    z-index: -1;
    }

    &::after {
    content: "";
    width: 15rem;
    height: 15rem;
    background-color: var(--color-pink-low);
    border-radius: 50%;
    filter: blur(150px);
    position: absolute;
    pointer-events: none;
    right: -9rem;
    bottom: 8rem;
    z-index: -1;
    }
}

.hero-info p {
    color: var(--color-text-body);
    font: var(--font-body-md);
    max-width: 21rem;
    text-align: center;
}

.hero-info .ouija-planchette {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    position: absolute;
    bottom: 60px;
    left: 25px;
    rotate: 325deg;
}

.hero-info .crystall-ball {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    position: absolute;
    bottom: 40px;
    right: 25px;
    rotate: 15deg;
}

.hero-info .spellbook {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    position: absolute;
    top: 35px;
    right: 90px;
    rotate: 30deg;
}

.contact {
    margin-top: auto;
}
