:root {
    --color-pink-light: #c59dd2;
    --color-pink-base: #9547a5;
    --color-pink-dark: #7d298a;
    --color-pink-low: #3f0f41;

    --color-blue-light: #73b6d2;
    --color-blue-base: #358bb9;
    --color-blue-mid: #2374a4;
    --color-blue-dark: #144a72;
    --color-blue-low: #08233c;

    --color-shape-stroke: #002347;
    --color-shape-hover: #001933;
    --color-shape-base: #000f1f;
    --color-shape-background: #00050a;

    --color-text-title: #f8fbfb;
    --color-text-body: #e2e7e9;
    --color-text-label: #bac6c9;

    --font-family: 'Raleway', sans-serif;
    
    --font-title-lg: 700 3rem/normal var(--font-family);
    --font-title-md: 700 2.5rem/normal var(--font-family);
    --font-title-sm: 700 2rem/normal var(--font-family);
    --font-title-xs: 700 1rem/normal var(--font-family);
    
    --font-subtitle: 500 2rem/2.0 var(--font-family);
    
    --font-body-lg: 400 1.25rem/1.4 var(--font-family);
    --font-body-md: 400 1rem/1.4 var(--font-family);
    --font-body-sm: 400 0.875rem/1.4 var(--font-family);
    --font-body-xs: 400 0.75rem/1.4 var(--font-family);

    --font-button: 700 0.875rem/normal var(--font-family);
    --font-link: 500 0.875rem/normal var(--font-family);
    --font-tag: 700 0.625rem/normal var(--font-family);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100dvh;
    background-color: var(--color-shape-background);
}

.hero {
    height: 29rem;
    background-image: url(./assets/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
    padding: 1.25rem 1.25rem 0 1.25rem;
}

.hero-informations {
    width: 20.9rem;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    padding-inline: 1.25rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-pink-dark);
    color: var(--color-text-title);
    font: var(--font-button);
}

.hero-title {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    text-align: center;
    gap: 1rem;
}

.hero-title h1 {
    font: 700 1.75rem/normal var(--font-family);
    color: var(--color-text-title);
}

.hero-title p {
    font: var(--font-body-sm);
    color: var(--color-text-body);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23.4rem;
    height: 15.75rem;
    margin-block: 2rem 6.5rem;
    margin-inline: auto;
    position: relative;
}

.description img {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
}

.spellbook {
    bottom: 10.9rem;
    left: 15.8rem;
}

.ouija-planchette {
    bottom: 3.20rem;
    left: 1.25rem;
    rotate: 325deg;
}

.crystal-ball {
    bottom: 2rem;
    right: 1.27rem;
}

.description p {
    text-align: center;
    width: 20.9rem;
    font: 500 1rem/1.4 var(--font-family);
    color: var(--color-text-body);
}
